<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="box">
	<div class="dropdown">
	  <button class="dropbtn">Cliente</button>
	  <div class="dropdown-content">
	    <a href="/client/createClient">Cadastrar Cliente</a>
	    <a href="/client/retrieveClient">Consultar Clientes</a>
	  </div>
	</div>
	<div class="dropdown">
	  <button class="dropbtn">Produtos</button>
	  <div class="dropdown-content">
	    <a href="/product/createProduct">Cadastrar Produtos</a>
	    <a href="/product/retrieveProduct">Visualizar Produtos</a>
	  </div>
	</div>
</div>
</body>
</html>