<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link rel="stylesheet" href="../../css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	<script src="../../js/ajax.js"></script>
</head>
<body>
<div class="box">
	<div class="dropdown">
	  <button class="dropbtn">Cliente</button>
	  <div class="dropdown-content">
	    <a href="/client/createClient">Cadastrar Cliente</a>
	    <a href="/client/retrieveClient">Consultar Clientes</a>
	  </div>
	</div>
	<div class="dropdown">
	  <button class="dropbtn">Produtos</button>
	  <div class="dropdown-content">
	    <a href="/product/createProduct">Cadastrar Produtos</a>
	    <a href="/product/retrieveProduct">Visualizar Produtos</a>
	  </div>
	</div>
	<div class="form">
		<table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>Id</th>
                <th>Nome</th>
                <th>Documento</th>
                <th>Data do cadastro</th>
                <th>Editar cliente</th>
                <th>Deletar cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.document}"></td>
                <td th:text="${client.createDate}"></td>
                <td><input type="submt" id="clientDelete" onClick="editClient();" class="btn btn-sm btn-info" value="Editar"/></td>
                <td><input type="submt" id="clientDelete" onClick="deleteClient();" class="btn btn-sm btn-danger" value="Deletar"/></td>
                <input type="hidden" th:value="${client.id}" id="clientId"/>
            </tr>
          </tbody>
    </table>
	</div>
</div>
</body>
</html>